@import "tailwindcss";

body.dark, body.dark * {
  color: #F4E1C4 !important; 
}

body.dark {
  background-color: #1C0F13 !important;
}

body.dark nav {
  background-color: #1C0F13 !important;
  color: #F4E1C4 !important;
}

body.dark .dark-text {
  color: #F4E1C4 !important;
}

body.dark .circle {
  background-color: #F4E1C4 !important;
  color: black !important;
}

body.dark .circle span {
  color: black !important;
}

body.dark .pulsing-bubble {
  background-color: #F4E1C4 !important;
}

body.dark footer {
  background-color: #3E2A2A !important;
}

body.dark footer p,
body.dark footer a {
  color: #F4E1C4 !important;
}

body.dark footer a:hover {
  color: gray !important;
}

body.dark h2,
body.dark p {
  color: #F4E1C4;
}

/* Contact page */ 
.contact-circle {
  background-color: #000000; 
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

body.dark .contact-circle {
  background-color: #F4E1C4 !important; 
  box-shadow: 0 0 15px rgba(244, 161, 97, 0.7) !important; 
}

body.dark .contact-circle label,
body.dark .contact-circle h3,
body.dark .contact-circle p {
  color: black !important; 
}

body.dark .contact-circle input,
body.dark .contact-circle textarea {
  background-color: #6B5B4D; 
  border: 1px solid #8D7B68; 
  color: #FCEBD5; 
}

body.dark .contact-circle input::placeholder,
body.dark .contact-circle textarea::placeholder {
  color: #C5A991; 
}

body.dark .contact-circle button {
  background-color: #D99A5C;
  color: #2D1B0D; 
}

.dark button {
  background-color: #D99A5C;
  color: #2D1B0D; 
}

.dark button:hover {
  background-color: #E3A876; 
  box-shadow: 0 0 15px rgba(244, 161, 97, 0.7); 
}

/* Home page */ 
.dark svg text {
  fill: #f4e1c4; 
}

.dark svg path {
  stroke: #f4e1c4;
}

body.dark .circle {
  box-shadow: 0 0 15px rgba(244, 161, 97, 0.7) !important;
}

/* Project page */
body.dark .project-link {
  box-shadow: 0 0 15px rgba(244, 161, 97, 0.7) !important;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Light.ttf") format("truetype"); 
    font-weight: normal, bold;
    font-style: normal;
  }

  @font-face {
    font-family: "NewYork";
    src: url("/assets/NewYork.otf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Kiona-Regular";
    src: url("/assets/Kiona-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulsing-bubble {
    animation: pulse 1.5s ease-in-out infinite; 
  }
  
  .pulsing-bubble:nth-child(1) {
    animation-delay: 0s;
  }
  
  .pulsing-bubble:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .pulsing-bubble:nth-child(3) {
    animation-delay: 0.4s;
  }

@media (max-width: 768px) {

  .pulsing-bubble {
    width: 8px;
    height: 8px;
  }

  .connecting-lines {
    display: none; 
  }

  .home-text {
    font-size: 24px;
  }

  .form-circle .contact-circle {
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
  }
}

/* Mobile responsiveness */
@media (max-width: 360px) {
  body {
    font-size: 12px; 
  }

  .form-circle .contact-circle {
    width: 100%; 
    padding: 10px; 
  }

  .home-text {
    font-size: 18px; 
  }

  .about-image {
    width: 200px;
    height: 200px;
  }
}

/* Menu open */
.dark .menu-open {
  background-color:#1C0F13;
}

@media (max-width: 768px) {
  .form-circle .contact-circle {
    width: 90%; 
    height: auto;
    border-radius: 20px;
    padding: 15px;
  }

  .home-text {
    font-size: 24px;
  }

  .pulsing-bubble {
    width: 8px;
    height: 8px;
  }

  .connecting-lines {
    display: none; 
  }

  .about-image {
    width: 300px;
    height: 300px;
  }
}
/* Mobilrespons */
@media (max-width: 768px) {
  .about-image {
    width: 250px;
    height: 250px;
    margin-top: 20px; 
  }
}

@media (min-width: 768px) {
  .about-image {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1010px) and (min-width: 750px) {
  .about-image {
    width: 300px;
    height: 300px;
    object-fit: cover; 
  }
}


